.containerAbout {
  background-image: url("../../assets/cover/kai-mason-4BM4nHPBI_Y-unsplash.jpg");
  background-size: cover;
  // background-repeat: none;
  // position: relative;
  // width: 200px;
  // height: 150px;
  // margin: 20px 0;
  // border-radius: 50% / 10%;

  display: block;
  width: 500px;
  height: 500px;

  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

#about{
//   background: white;
//   border: 10px solid #7b33c1;
//   margin: 50px;
//   border-radius: 25px;
//   font-size: 30px;
//   padding:10px;
// }
color: #fff;
text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}


.profPic{
  width:300px;
  border-radius: 50%;
  margin: 70px;
}
